{% extends 'base/main.html' %}
{% load staticfiles %}
{% block title %} {{ title }} {% endblock %}
{% block type %} signup-page sidebar-collapse {% endblock %}
{% block content %}
    <div class="page-header header-filter" >
        <div class="page-header-image" style="background-image:url({% static 'img/bg8.jpg' %})"></div>
        <div class="content">
            <div class="container">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="card card-contact card-raised">
                        <form role="form" id="contact-form1" method="post">
                            {% csrf_token %}
                            <div class="card-header text-center"><h4 class="card-title" style="color: #e8833b">{{ title }} curso</h4></div>
                            <div class="card-body text-left">
                                <p class="text-primary">Datos del curso</p>
                                <div class="row">
                                    <div class="form-group col-md-4 pl-2">
                                        <label for="txtname" style="color: #1d2124">Nombre del curso</label>
                                        {{ form.name }}
                                    </div>
                                    <div class="col-md-4 pl-2">
                                        <div class="form-group">
                                            <label for="selectlanguage" style="color: #1d2124">Idioma y Nivel</label>
                                            {{ form.lan }}
                                        </div>
                                    </div>
                                    <div class="col-md-4 pl-2">
                                        <div class="form-group">
                                            <label for="selectprof" style="color: #1d2124">Profesor(es)</label>
                                            {{ form.user }}
                                        </div>
                                    </div>
                                </div>
                                <p class="text-primary"></p>
                                <div class="row">
                                    <div class="col-md-4 pl-2">
                                        <div class="form-group">
                                            <label for="selectdia" style="color: #1d2124">Día</label>
                                            {{ form.day }}
                                        </div>
                                    </div>
                                    <div class="col-md-2 pl-2">
                                        <div class="form-group">
                                            <label for="selectstar" style="color: #1d2124">Hora de inicio</label>
                                            {{ form.start }}
                                        </div>
                                    </div>
                                    <div class="col-md-2 pl-2">
                                        <div class="form-group">
                                            <label for="selectend" style="color: #1d2124">Hora de fin</label>
                                            {{ form.end }}
                                        </div>
                                    </div>
                                    <div class="col-md-4 pl-2">
                                        <div class="form-group">
                                            <label for="selectclassroom" style="color: #1d2124">Salón de clases</label>
                                            {{ form.classroom }}
                                        </div>
                                    </div>
                                    <div class="col-md-12 pl-2">
                                        <div class="form-group">
                                            <label for="txtdescription" style="color: #1d2124">Descripción</label>
                                            {{ form.description }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <button type="submit" class="btn btn-lg  btn-primary btn-round pull-right">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
{% endblock %}