<div class="card card-blog col-lg-12 ml-auto mr-auto">
    <div class="card-body">
        <h6 class="text-info text-center">
            Se ha(n) obtenido {{ page_obj.paginator.count }} resultado(s).
        </h6>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Día</th>
                <th>Hora de inicio</th>
                <th>Hora de fin</th>
                <th>Idioma</th>
                <th class="text-center">Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% if object_list %}
                {% for course in object_list %}
                    <tr>
                        <td class="text-center">{{ course.id}}</td>
                        <td>{{ course.name.capitalize}}</td>
                        <td>{{ course.day }}</td>
                        <td>{{ course.start|time:"g:i A" }}</td>
                        <td>{{ course.end|time:"g:i A" }}</td>
                        <td>{{ course.lan.name }}</td>
                        <td class="td-actions text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="now-ui-icons design_bullet-list-67"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item text-info" href="{% url 'course:show' course.id %}">
                                        <i class="now-ui-icons travel_info"></i>Detalles
                                    </a>
                                    <a class="dropdown-item text-success" href="{% url 'course:edit' course.id %}">
                                        <i class="now-ui-icons ui-2_settings-90"></i>Editar
                                    </a>
                                    <a class="dropdown-item text-danger" href="" onclick="confirmDelete(event, '{{ course.name }}' ,'{% url 'course:delete' course.id %}')">
                                        <i class="now-ui-icons ui-1_simple-remove"></i>Eliminar
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <td class="text-danger"><strong> No hay registros de cursos. </strong></td>
            {% endif %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="7">
                    {% include 'base/pagination/main.html' with page_obj=page_obj %}
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>