{% extends 'base/main.html' %}
{% load staticfiles %}
{% block type %} login-page sidebar-collapse {% endblock %}
{% block title %} Mensaje de correo {% endblock %}
{% block content %}
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image" style="background-image:url({% static 'img/login.jpg' %})"></div>
    <div class="content">
      <div class="container">
        <div class="col-md-7 ml-auto mr-auto">
          <div class="card card-login card-plain">
            <div class="card-header text-center">
              <div class="logo-container">
                <img src="{% static 'img/icons8-mensaje-250.png' %}" alt="">
              </div>
              <h5 class="text-center text-success">Hemos enviado un correo a tu correo electrónico.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}