{% extends 'base/main.html' %}
{% load staticfiles %}
{% block type %} login-page sidebar-collapse {% endblock %}
{% block title %} Ingresar {% endblock %}
{% block content %}
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image" style="background-image:url({% static 'img/login.jpg' %})"></div>
        <div class="content">
            <div class="container">
                <div class="col-md-4 ml-auto mr-auto">
                    <div class="card card-login card-plain">
                        <form class="form" method="POST">
                            {% csrf_token %}
                            <div class="card-header text-center">
                                <div class="logo-container">
                                    <img src="{% static 'img/now-logo.png' %}" alt="">
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="input-group no-border input-lg {{ error }}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                          <i class="now-ui-icons users_circle-08"></i>
                                        </span>
                                    </div>
                                    <input type="text" name="username" class="form-control" placeholder="Código..." required>
                                </div>
                                <div class="input-group no-border input-lg {{ error }}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                          <i class="now-ui-icons ui-1_lock-circle-open"></i>
                                        </span>
                                    </div>
                                    <input type="password" name="password1" placeholder="Contraseña..." class="form-control" required />
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">Ingresar</button>
                                <div class="pull-right">
                                    <h6>
                                        <a href="{% url 'home:password_reset' %}" class="link">Olvidé contraseña</a>
                                    </h6>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}