<div class="card card-blog col-lg-12 ml-auto mr-auto">
    <div class="card-body">
        <h6 class="text-info text-center">
            Se ha(n) obtenido {{ page_obj.paginator.count }} resultado(s).
        </h6>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Aula</th>
                <th>Edificio</th>
                <th class="text-center">Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% if object_list %}
                {% for class in object_list %}
                    <tr>
                        <td class="text-center">{{ class.id }}</td>
                        <td>{{ class.name.capitalize }}</td>
                        <td>{{ class.building.capitalize }}</td>
                        <td class="td-actions text-center">
                            <a href="{% url 'classroom:edit' class.id %}">
                                <button type="button" rel="tooltip" class="btn btn-success btn-icon" title="Editar">
                                    <i class="now-ui-icons ui-2_settings-90"></i>
                                </button>
                            </a>
                            <button title="Eliminar" onclick="confirmDelete(event, '{{ class.name }}' ,'{% url 'classroom:delete' class.id %}')" type="button" rel="tooltip" class="btn btn-danger btn-icon">
                                <i class="now-ui-icons ui-1_simple-remove"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <td class="text-danger"><strong> No hay registros de aulas. </strong></td>
            {% endif %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4">
                    {% include 'base/pagination/main.html' with page_obj=page_obj %}
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>