{% extends 'base/main.html' %}
{% load staticfiles %}
{% block title %} {{ title }} {% endblock %}
{% block type %} profile-page sidebar-collapse {% endblock %}
{% block content %}
    <div class="page-header page-header-small clear-filter" filter-color="orange">
        <div class="page-header-image" data-parallax="true" style="background-image:url('{% static 'img/bg5.jpg' %}');">
        </div>
        <div class="container">
            <div class="photo-container">
                <img src="{% static 'img/ryan.jpg' %}" alt="">
            </div>
            <h3 class="title">{{ user.first_name }} {{ user.last_name }} {{ user.second_last_name }}</h3>
        </div>
    </div>
    <div class="section" style="margin-top: -100px; padding-top: 30px">
        <div class="col-md-10 ml-auto mr-auto">
            <div class="card card-contact card-raised">
                <form role="form" id="contact-form1" method="post">
                    {% csrf_token %}
                    <div class="card-header text-center"><h4 class="card-title" style="color: #e8833b">{{ title }} de usuario</h4></div>
                    <div class="card-body text-left">
                        <div class="row">
                            <div class="col-md-4 pl-2">
                                <label for="txtcode" style="color: #1d2124">Contraseña actual</label>
                                <div class="form-group {% if form.old_password.errors %}has-danger{% endif %}">
                                    {{ form.old_password }}
                                    <small class="text-danger text-sm-left">{{ form.old_password.errors}}</small>
                                </div>
                            </div>
                            <div class="col-md-4 pl-2">
                                <label for="txtcode" style="color: #1d2124">Nueva contraseña</label>
                                <div class="form-group {% if form.new_password1.errors %}has-danger{% endif %}">
                                    {{ form.new_password1 }}
                                    <small class="text-danger text-sm-left">{{ form.new_password1.errors}}</small>
                                </div>
                            </div>
                            <div class="col-md-4 pl-2">
                                <label for="txtemail" style="color: #1d2124">Confirmar nueva contraseña</label>
                                <div class="form-group {% if form.new_password2.errors %}has-danger{% endif %}">
                                    {{ form.new_password2 }}
                                    <small class="text-danger text-sm-left">{{ form.new_password2.errors}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <button type="submit" class="btn btn-lg  btn-primary pull-right">Cambiar contraseña</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}