{% extends 'base/main.html' %}
{% load staticfiles %}
{% block title %} Registrar {% endblock %}
{% block type %} signup-page sidebar-collapse {% endblock %}
{% block content %}
    <div class="page-header header-filter" >
        <div class="page-header-image" style="background-image:url({% static 'img/bg8.jpg' %})"></div>
        <div class="content">
            <div class="container">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="card card-contact card-raised">
                        <form role="form" id="contact-form1" method="post">
                            <div class="card-header text-center"><h4 class="card-title" style="color: #1d2124">Registrar usuario</h4></div>
                            <div class="card-body text-left">
                                <div class="row">
                                    <div class="form-group col-md-4 pl-2">
                                        <label for="txtnombre" style="color: #1d2124">Nombre</label>
                                        {{ form.nombre }}
                                    </div>
                                    <div class="col-md-4 pl-2">
                                        <div class="form-group">
                                            <label for="txtapaterno" style="color: #1d2124">Apellido paterno</label>
                                            {{ form.apaterno }}
                                        </div>
                                    </div>
                                    <div class="col-md-4 pl-2">
                                        <div class="form-group">
                                            <label for="txtamaterno" style="color: #1d2124">Apellido materno</label>
                                            {{ form.amaterno }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 pl-2">
                                        <div class="form-group">
                                            <label for="txtcode" style="color: #1d2124">Código</label>
                                            {{ form.code }}
                                        </div>
                                    </div>
                                    <div class="col-md-7 pl-2">
                                        <div class="form-group">
                                            <label for="txtemail" style="color: #1d2124">Correo electrónico</label>
                                            {{ form.email }}
                                        </div>
                                    </div>
                                    <div class="col-md-6 pl-2">
                                        <div class="form-group">
                                            <label for="txtphone" style="color: #1d2124">Telefono</label>
                                            {{ form.phone }}
                                        </div>
                                    </div>
                                    <div class="col-md-6 pl-2">
                                        <div class="form-group">
                                            <label for="txtaddress" style="color: #1d2124">Dirección</label>
                                            {{ form.address }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <button type="submit" class="btn btn-lg  btn-primary btn-round pull-right">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}