{% extends 'base/main.html' %}
{% load staticfiles %}
{% block title %} {{ title }} {% endblock %}
{% block type %} signup-page sidebar-collapse {% endblock %}
{% block content %}
    <div class="page-header header-filter" >
        <div class="page-header-image" style="background-image:url({% static 'img/bg8.jpg' %})"></div>
        <div class="content">
            <div class="container">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="card card-contact card-raised">
                        <form role="form" id="contact-form1" method="post">
                            {% csrf_token %}
                            <div class="card-header text-center"><h4 class="card-title" style="color: #e8833b">{{ title }} usuario.</h4></div>
                            <div class="card-body text-left">
                                <p class="text-primary">Datos usuario</p>
                                <div class="row">
                                    <div class="col-md-2 pl-2">
                                        <label for="txtcode" style="color: #1d2124">Código</label>
                                        <div class="form-group {% if form.code.errors %}has-danger{% endif %}">
                                            {{ form.code }}
                                            <small class="text-danger text-sm-left">{{ form.code.errors}}</small>
                                        </div>
                                    </div>
                                    <div class="col-md-6 pl-2">
                                        <label for="txtemail" style="color: #1d2124">Correo electrónico</label>
                                        <div class="form-group {% if form.email.errors %}has-danger{% endif %}">
                                            {{ form.email }}
                                            <small class="text-danger text-sm-left">{{ form.email.errors}}</small>
                                        </div>
                                    </div>
                                    <div class="col-md-4 pl-2">
                                        <label for="txtpassword" style="color: #1d2124">Contraseña</label>
                                        <div class="form-group {% if form.password.errors %}has-danger{% endif %}">
                                            {{ form.password }}
                                            <small class="text-danger text-sm-left">{{ form.password.errors}}</small>
                                        </div>
                                    </div>
                                </div>
                                <label style="color: #1d2124">Tipo de usuario</label>
                                <div class="form-check form-check-radio">
                                    {% for rol in form.role %}
                                        <label class="form-check-label" style="color: #1d2124">
                                            {{ rol.tag }}<span class="form-check-sign"></span>{{ rol.choice_label }}
                                        </label>
                                    {% endfor %}
                                </div>
                                <small class="text-danger text-sm-left">{{ form.role.errors}}</small>
                                <br>
                                <p class="text-primary">Datos personales</p>
                                <div class="row">
                                    <div class="col-md-4 pl-2">
                                        <label for="txtnombre" style="color: #1d2124">Nombre</label>
                                        <div class="form-group {% if form.first_name.errors %}has-danger{% endif %}">
                                            {{ form.first_name }}
                                            <small class="text-danger text-sm-left">{{ form.first_name.errors}}</small>
                                        </div>
                                    </div>
                                    <div class="col-md-4 pl-2">
                                        <label for="txtapaterno" style="color: #1d2124">Apellido paterno</label>
                                        <div class="form-group {% if form.last_name.errors %}has-danger{% endif %}">
                                            {{ form.last_name }}
                                            <small class="text-danger text-sm-left">{{ form.last_name.errors}}</small>
                                        </div>
                                    </div>
                                    <div class="col-md-4 pl-2">
                                        <label for="txtamaterno" style="color: #1d2124">Apellido materno</label>
                                        <div class="form-group {% if form.second_last_name.errors %}has-danger{% endif %}">
                                            {{ form.second_last_name }}
                                            <small class="text-danger text-sm-left">{{ form.second_last_name.errors}}</small>
                                        </div>
                                    </div>
                                    <div class="col-md-7 pl-2">
                                        <label for="txtaddress" style="color: #1d2124">Dirección</label>
                                        <div class="form-group {% if form.address.errors %}has-danger{% endif %}">
                                            {{ form.address }}
                                            <small class="text-danger text-sm-left">{{ form.address.errors}}</small>

                                        </div>
                                    </div>
                                    <div class="col-md-5 pl-2">
                                        <label for="txtphone" style="color: #1d2124">Telefono</label>
                                        <div class="form-group {% if form.phone.errors %}has-danger{% endif %}">
                                            {{ form.phone }}
                                            <small class="text-danger text-sm-left">{{ form.phone.errors}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <button type="submit" class="btn btn-lg  btn-primary btn-round pull-right">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
{% endblock %}