{% extends 'base/main.html' %}
{% load staticfiles %}
{% block title %} Usuarios {% endblock %}
{% block type %} landing-page sidebar-collapse {% endblock %}
{% block content %}
    <script type="text/javascript">
        let table ='{% url 'user:table' %}';
        let search = '{% url 'user:search'%}';
    </script>
    <div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="true" style="background-image: url({% static 'img/bg6.jpg' %});"></div>
            <div class="container text-left"><br>
                <h1 class="title">Administración de usuario.</h1>
                <div class="text-left">
                    <h4 class="">Usuarios registrados.</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container col-lg-10">
            {% include 'base/search.html' %}
            <div class="row">
                {% include 'user/table.html' %}
            </div>
        </div>
    </div>
{% endblock %}