{% extends 'base/main.html' %}
{% load staticfiles %}
{% block title %} {{ title }} {% endblock %}
{% block type %} landing-page sidebar-collapse {% endblock %}
{% block content %}
    <script type="text/javascript">
        let table = '{% url 'user:table' %}';
        let search = 'search';
    </script>
    <div class="wrapper" style="margin-bottom: -100px">
        <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="true" style="background-image: url({% static 'img/bg11.jpg' %});"></div>
            <div class="container text-left"><br>
                <h1 class="title">Administración.</h1>
                <div class="text-left">
                    <h3>{{ title }}.</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div id="top" class="container col-lg-10">
            {% include 'base/search.html' %}
            <div id="content" class="row">
                {% include 'user/table.html' %}
            </div>
        </div>
    </div>
{% endblock %}