{% extends 'base/main.html' %}
{% load staticfiles %}
{% block title %} Detalles {% endblock %}
{% block type %} profile-page sidebar-collapse {% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="page-header page-header-small clear-filter" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image:url({% static 'img/bg5.jpg' %});"></div>
            <div class="container">
                <div class="photo-container">
                    <img src="{% static 'img/avatar.jpg' %}" alt="">
                </div>
                <h3 class="title">{{ object_list.first_name }} {{ object_list.last_name }} {{ object_list.second_last_name }}</h3>
                <p class="category">{{ object_list.role.nombre }}</p>
                <h6>Código:</h6>
                <p>{{ object_list.code }}</p>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="button-container">
                    <a href="#" class="btn btn-primary btn-round btn-lg" rel="tooltip" title="Contacto">
                        <i class="now-ui-icons ui-1_email-85"></i> {{ object_list.email }}
                    </a>
                </div>
                <br>
                <div class="description text-center">
                    <h6 style="color: #3C4858;">Dirección:</h6>
                    <p>{{ object_list.address }}</p>
                    <h6 style="color: #3C4858;">Telefono:</h6>
                    <p>{{ object_list.phone }}</p>
                    <a href="{% url 'user:edit' object_list.code %}">
                        <button type="submit" class="btn btn-lg btn-success">
                            <i class="now-ui-icons ui-2_settings-90"></i>  Editar
                        </button>
                    </a>
                    <a onclick="deleteInShow(event, '{{ object_list.nombre }}', '{% url 'user:delete' object_list.code %}', '{% url 'user:index' %}')">
                        <button type="submit" class="btn btn-lg btn-danger">
                            <i class="now-ui-icons ui-1_simple-remove"></i> Eliminar
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
