<div class="card card-blog col-md-12 ml-auto mr-auto">
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Correo electrónico</th>
                <th>Direción</th>
                <th class="text-right">Telefono</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% if object_list %}
                {% for user in object_list %}
                    <tr>
                        <td class="text-center">{{ user.code }}</td>
                        <td>{{ user.nombre}} {{user.apaterno}} {{user.amaterno }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.address }}</td>
                        <td class="text-right">{{ user.phone }}</td>
                        <td class="td-actions text-center">
                            <button type="button" rel="tooltip" class="btn btn-info">
                                <i class="now-ui-icons users_single-02"></i>
                            </button>
                            <button type="button" rel="tooltip" class="btn btn-success">
                                <i class="now-ui-icons ui-2_settings-90"></i>
                            </button>
                            <button href="" type="button" rel="tooltip" class="btn btn-danger">
                                <i class="now-ui-icons ui-1_simple-remove"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <td class="text-danger"><strong> No hay registros de usuario</strong></td>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% include 'base/pagination.html' %}