<div class="card card-blog col-lg-12 ml-auto mr-auto">
    <div class="card-body">
        <h6 class="text-info text-center">
            Se ha(n) obtenido {{ object_list.count }} resultado(s).
        </h6>
        <table class="table">
            <thead>
            <tr>
                <th>Código</th>
                <th>Nombre completo</th>
                <th>Correo electrónico</th>
                <th>Dirección</th>
                <th>Tipo de usuario</th>
                <th class="text-center">Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% if object_list %}
                {% for user in object_list %}
                    <tr>
                        <td class="text-center">{{ user.code }}</td>
                        <td>{{ user.first_name}} {{user.last_name}} {{user.second_last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.address }}</td>
                        <td>{{ user.role.nombre }}</td>
                        <td class="td-actions text-center">
                            <a href="{% url 'user:show' user.code %}">
                                <button type="button" rel="tooltip" class="btn btn-info btn-icon" title="Detalles">
                                    <i class="now-ui-icons text_align-center"></i>
                                </button>
                            </a>
                            <a href="{% url 'user:edit' user.code %}">
                                <button type="button" rel="tooltip" class="btn btn-success btn-icon" title="Editar">
                                    <i class="now-ui-icons ui-2_settings-90"></i>
                                </button>
                            </a>
                            <button title="Eliminar" onclick="confirmDelete(event, '{{ user.nombre }}' ,'{% url 'user:delete' user.code %}')" type="button" rel="tooltip" class="btn btn-danger btn-icon">
                                <i class="now-ui-icons ui-1_simple-remove"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <td class="text-danger"><strong> No hay registros de usuario. </strong></td>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>